body {
    font-family: 'Roboto', sans-serif;
    background: #f9fdfe;
    color: #686a69;
}
input {
    display: block;
    margin-top: 0;
    padding: 0.5rem 0.75rem;
    border: 1px solid #cdcfcf;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    -webkit-transition: 150ms border-color linear;
    transition: 150ms border-color linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type='submit']{
    padding: 0.3rem 0.75rem;
    background-color: #686a69;
    border: 0;
    color: #f9fdfe;
    font-weight:300;
    font-size: 100%;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-transform: uppercase;
    -webkit-transition: 150ms all linear;
    transition: 150ms all linear;
}
input[type='submit']:hover,
input[type='submit']:focus{
    background: #2a2f2c;
    cursor: pointer;
    outline: 0;
}
.field {
    margin-right: 5px;
}
input:focus {
    border-color: #686a69;
    outline: 0;
}
label {
    display: block;
    color: #414643;
    font-weight:300;
    font-size: 75%;
    line-height: 1.125;
}
h1 {
    font-weight: 300;
    color: #2a2f2c;
}
.contacts-form {
    margin-bottom: 40px;
}
.contacts-form form {
    display: flex;
    align-items: flex-end;
}

.contact-list-container {
    min-height: 340px;
    margin-bottom: 25px;
}
.contact-item {
    display: flex;
    border: none;
    
}

.contact-item input {
    background: #f9fdfe;
    border: 1px solid #f9fdfe;
}

.contact-item .edit-item {
    position: relative;
}

.contact-item .edit-item:hover:before {
    position: absolute;
    display: inline-block;
    padding: 5px;
    background-color: #f9e8ff;
    border-color: #f3d1ff;
    top: -20px;
    font-size: 75%;
    left: 100%;
    white-space: nowrap;
    content: "please change value";
    z-index:1;
}

.contact-item input:focus {
    border: 1px solid #cdcfcf;
    background: #FFF;
}

input.no-valid {
    border: 1px solid red;
}

input.modified {
    color: green;
}
.pagination-container a {
    padding: 0.3rem 0.75rem;
    background-color: #686a69;
    border: 0;
    color: #f9fdfe;
    font-weight:300;
    font-size: 100%;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-transform: uppercase;
    -webkit-transition: 150ms all linear;
    transition: 150ms all linear;
    text-decoration: none;
}

.pagination-container a:hover,
.pagination-container a.active  {
    background: #2a2f2c;
    cursor: pointer;
    outline: 0;
}